version: '3.8'

services:
  enshrouded:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
      args:
        WINE_BRANCH: stable
    image: mornedhels/enshrouded-server:dev
    container_name: enshrouded
    hostname: enshrouded
    restart: unless-stopped
    stop_grace_period: 90s
    ports:
      - "15637:15637/udp"
    volumes:
      - ./game:/opt/enshrouded
    environment:
      - SERVER_NAME=Os Sem Pingolinha
      - PUID=4711
      - PGID=4711
      - UPDATE_CRON=*/30 * * * *
      - SERVER_SAVE_DIR=/opt/enshrouded/saves
      - log_level=50
      - SERVER_ROLE_0_NAME=Admins
      - SERVER_ROLE_0_PASSWORD=1955
      - SERVER_ROLE_0_CAN_KICK_BAN=true
      - SERVER_ROLE_0_CAN_ACCESS_INVENTORIES=true
      - SERVER_ROLE_0_CAN_EDIT_WORLD=true
      - SERVER_ROLE_0_CAN_EDIT_BASE=true
      - SERVER_ROLE_0_CAN_EXTEND_BASE=true
